<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

    <!-- infoBar -->
    <%- include('../includes/infoHeader.ejs') %>

        <!-- header -->
        <%- include('../includes/head.ejs') %>

            <!-- section-1 -->
            <section class="section-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 leftBar">
                            <h3 class="sec1LeftText1">Never Stop</h3>
                            <h2 class="sec1LeftText2">Exploring</h2>
                            <p class="sec1LeftText3">No matter your age. No matter your experience. No matter your
                                education. It’s imperative that you never stop exploring. The world has countless
                                bounties
                                to offer up.</p>
                            <a href="/tours"><button class="button">MORE</button></a>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end rightBar">
                            <img style="width: 490px ; height: 550px;" src="./images/banner-images/about-image-2.png"
                                alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- section-2 -->
            <section class="section-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img style="width: 380px ; height: 485px;" src="./images/banner-images/banner-image-2.png"
                                alt="">
                        </div>
                        <div class="col-md-6 leftBar">
                            <h3 class="sec1LeftText1">About Hodophile</h3>
                            <h2 class="sec1LeftText2">Best Agency</h2>
                            <p class="sec1LeftText3">Hodophile is India’s leading online travel booking brand . We
                                providing trekking , tour package , Some travel equpments shoping etc... Our core value
                                differentiator is the most trusted user experience .</p>
                            <a href="/contact"><button class="button">MORE</button></a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section-3 -->
            <section class="section-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-5">
                            <h3 class="sec4Text1 text-center">Modern & Beautiful</h3>
                            <h1 class="text-center fw-bold">Our Most Poppular<br>Trekking</h1>
                        </div>
                        <% for( i=0 ; i < trekkings.length ; i++ ) {%>
                            <!-- cards -->
                            <div class="col-md-4 sec3Cards">
                                <a href="/trekkings/<%= trekkings[i]._id %>">
                                    <div class="card p-3 sec3Card " style="background-color: #ECF9EE;">
                                        <img style=" width: 100%; "
                                            src="./images/trekking/<%= trekkings[i].Images[0] %>"
                                            class="card-img-top rounded" alt="...">
                                        <div class="card-body p-0">
                                            <p class="sec3Text1 rounded-2">₹ <%= trekkings[i].Price %>
                                            </p>
                                            <p class="sec3Text2 mt-2">
                                                <%= trekkings[i].Review %> Reviews
                                            </p>
                                            <h5 class="card-title sec3Text3">
                                                <%= trekkings[i].Name %>
                                            </h5>
                                            <p class="card-text sec3Text4 pb-3">
                                                <%= trekkings[i].ShortDescription %>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <% } %>
                    </div>
                </div>
            </section>
            <!-- section-4 -->
            <section class="section-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-5">
                            <h3 class="sec4Text1 text-center">We Are Awsome</h3>
                            <h1 class="text-center fw-bold">Why Choose Hodophile</h1>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="col-md-6">
                                <div>
                                    <div class="d-flex justify-content-center">
                                        <img class="mt-5" src="./images/Resources/icon-1.png" alt="">
                                    </div>
                                    <h3 class="text-center mt-4">Diverse Destinations</h3>
                                    <p class="text-center mt-4">Richly varied landscapes, luxury accommodation Travel.
                                    </p>
                                </div>
                                <div>
                                    <div class="d-flex justify-content-center">
                                        <img class="mt-5" src="./images/Resources/icon-2.png" alt="">
                                    </div>
                                    <h3 class="text-center mt-4">Diverse Destinations</h3>
                                    <p class="text-center mt-4">Richly varied landscapes, luxury accommodation Travel.
                                    </p>
                                </div>
                                <div>
                                    <div class="d-flex justify-content-center">
                                        <img class="mt-5" src="./images/Resources/icon-3.png" alt="">
                                    </div>
                                    <h3 class="text-center mt-4">Diverse Destinations</h3>
                                    <p class="text-center mt-4">Richly varied landscapes, luxury accommodation Travel.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <div class="d-flex justify-content-center">
                                        <img class="mt-5" src="./images/Resources/icon-4.png" alt="">
                                    </div>
                                    <h3 class="text-center mt-4">Diverse Destinations</h3>
                                    <p class="text-center mt-4">Richly varied landscapes, luxury accommodation Travel.
                                    </p>
                                </div>
                                <div>
                                    <div class="d-flex justify-content-center">
                                        <img class="mt-5" src="./images/Resources/icon-5.png" alt="">
                                    </div>
                                    <h3 class="text-center mt-4">Diverse Destinations</h3>
                                    <p class="text-center mt-4">Richly varied landscapes, luxury accommodation Travel.
                                    </p>
                                </div>
                                <div>
                                    <div class="d-flex justify-content-center">
                                        <img class="mt-5" src="./images/Resources/icon-6.png" alt="">
                                    </div>
                                    <h3 class="text-center mt-4">Diverse Destinations</h3>
                                    <p class="text-center mt-4">Richly varied landscapes, luxury accommodation Travel.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section-5 -->
            <section class="section-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-5">
                            <h3 class="sec4Text1 text-center">We Provide</h3>
                            <h1 class="text-center fw-bold">Top Destinations</h1>
                        </div>
                        <% for (tour of tours){%>
                            <div class="col-md-6 mt-3 ">
                                <a href="/tours/<%= tour._id %>">
                                    <img class="rounded-4 w-100" src="./images/destination/<%= tour.Images[0] %>"
                                        alt="">
                                </a>
                            </div>
                            <%}%>
                    </div>
                </div>
            </section>
            <!-- section-6 -->
            <section class="section-6">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-5">
                            <h3 class="sec4Text1 text-center">Shop Now</h3>
                            <h1 class="text-center fw-bold">Featured Products</h1>
                        </div>
                        <% for( i=0 ; i < shoppings.length ; i++ ) {%>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                <a href="/shoppings/<%= shoppings[i].id %>">
                                    <div class="bg-transparent border-1 card p-3 sec6Card mt-3">
                                        <img style="width: 100%; height: 265px;"
                                            src="./images/shopping/<%= shoppings[i].Images[0] %>" class="card-img-top"
                                            alt="...">
                                        <div class="card-body p-0 mt-3">
                                            <h5 class="text-dark card-title">Smart Air Bag Travel</h5>
                                            <p style="color: #1dc5ce;font-size: 18px;font-weight: 500;">$225</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <% } %>
                                <div class="col-12 d-flex justify-content-center">
                                    <a href="/shoppings" class="sec6More">More</a>
                                </div>
                    </div>
                </div>
            </section>

            <!-- footer -->
            <%- include('../includes/end.ejs') %>