<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

    <!-- header -->
    <%- include('../includes/head.ejs') %>

        <!-- section-1 -->
        <section class="signupSec1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="signupSec1Text d-flex justify-content-center">Shoppings</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- section-2 -->
        <section class="profileSec2">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-md-3 col-xl-2">
                        <div class="col-12">
                            <a href="/profile" class="profileSec2LeftButton">Your Profile</a>
                        </div>
                        <div class="col-12 mt-3">
                            <a href="/profile/shoppings/<%= user._id %>" class="profileSec2LeftButton">Your Shoppings</a>
                        </div>
                        <div class="col-12 mt-3">
                            <a href="/profile/bookings/<%= user._id %>" class="profileSec2LeftButton">Your Bookings</a>
                        </div>
                        <div class="col-12 mt-3">
                            <a onclick="userLogout()" class="profileSec2LeftButton">Log Out</a>
                        </div>
                    </div>
                    <div class="profileSec2RightBar col-8 col-md-9 col-xl-10">
                        <div class="row">
                            <div style="overflow-x:auto ;" class="col-md-8 mb-5">
                                <table class="col-12">
                                    <tbody>
                                        <tr>
                                            <td class="profileSec2ShoppingsText">Date</td>
                                            <td class=" profileSec2ShoppingsText">
                                                <%= order.Date.toISOString().split('T')[0] %>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="profileSec2ShoppingsText">Name</td>
                                            <td class=" profileSec2ShoppingsText">
                                                <%= order.User.Name %>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="profileSec2ShoppingsText">Contact</td>
                                            <td class=" profileSec2ShoppingsText">
                                                <%= order.User.Contact %>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="profileSec2ShoppingsText">Email</td>
                                            <td class=" profileSec2ShoppingsEmail">
                                                <%= order.User.Email %>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="profileSec2ShoppingsText">Payment Method</td>
                                            <td class=" profileSec2ShoppingsText">
                                                <%= order.PaymentMethod %>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="profileSec2ShoppingsText">Payment Status</td>
                                            <td class=" profileSec2ShoppingsText">
                                                <%= order.PaymentStatus %>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <% if (Products.length> 1){%>
                                            <tr>
                                                <th class="profileSec2ShoppingsText">Products</th>
                                                <td class=" profileSec2ShoppingsText">
                                                    <%= Products[0] %> (Qty <%= order.Order[0].Quantity %>)
                                                </td>
                                            </tr>
                                            <% for(i=1 ; i < Products.length ; i++){%>
                                                <tr>
                                                    <th class="profileSec2ShoppingsText"></th>
                                                    <td class=" profileSec2ShoppingsText">
                                                        <%= Products[i] %> (Qty <%= order.Order[i].Quantity %>)
                                                    </td>
                                                </tr>
                                                <%} %>
                                                    <%}else{%>
                                                        <tr>
                                                            <th class="profileSec2ShoppingsText">Products</th>
                                                            <td class=" profileSec2ShoppingsText">
                                                                <%= Products[0] %> (Qty <%= order.Order[0].Quantity %>)
                                                            </td>
                                                        </tr>
                                                        <%} %>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="profileSec2ShoppingsText">Discount</td>
                                            <td class=" profileSec2ShoppingsText">
                                                <%= order.Discount %>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="profileSec2ShoppingsText">Total Price</td>
                                            <td class=" profileSec2ShoppingsText">₹ <%= order.TotalPrice %>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <% if( order.Status=='Pending' ){%>
                                    <div class=" col-10">
                                        <h6 style="color: #0d6efd ;    padding-top: 38px;" class="text-center m-0">
                                            Pending</h6>
                                    </div>
                                    <%}else if( order.Status=='Approved' ){%>
                                        <div style="border-color: #0d6efd;"
                                            class="profileSec2ShoppingsStatusBar col-10">
                                            <h6 style="color: black ;    padding-top: 38px;" class="text-center m-0">
                                                Ordered</h6>
                                            <i style="color: #0d6efd;" class="profileSec2ShoppingsStatusDot fa-solid fa-circle"></i>
                                        </div>
                                        <div style="border-color: #cbcbcb;"
                                            class="profileSec2ShoppingsStatusBar col-10">
                                            <h6 style="color: black ;    padding-top: 38px;" class="text-center m-0">
                                                Shipped</h6>
                                                <i style="color: #cbcbcb;" class="profileSec2ShoppingsStatusDot fa-solid fa-circle"></i>
                                        </div>
                                        <div style="border-color: #cbcbcb;"
                                            class="profileSec2ShoppingsStatusBar col-10">
                                            <h6 style="color: black ;    padding-top: 38px;" class="text-center m-0 ">
                                                Deliverd</h6>
                                                <i style="color: #cbcbcb;" class="profileSec2ShoppingsStatusDot fa-solid fa-circle"></i>
                                        </div>
                                        <%}else if( order.Status=='Shipped' ){%>
                                            <div style="border-color: #0d6efd;"
                                                class="profileSec2ShoppingsStatusBar col-10">
                                                <h6 style="color: black ;    padding-top: 38px;"
                                                    class="text-center m-0">Ordered</h6>
                                            </div>
                                            <div style="border-color: #0d6efd;"
                                                class="profileSec2ShoppingsStatusBar col-10">
                                                <h6 style="color: black ;    padding-top: 38px;"
                                                    class="text-center m-0">Shipped</h6>
                                                <i style="color: #0d6efd;" class="profileSec2ShoppingsStatusDot fa-solid fa-circle"></i>
                                            </div>
                                            <div style="border-color: #cbcbcb;"
                                                class="profileSec2ShoppingsStatusBar col-10">
                                                <h6 style="color: black ;    padding-top: 38px;"
                                                    class="text-center m-0 ">Deliverd</h6>
                                                    <i style="color: #cbcbcb;" class="profileSec2ShoppingsStatusDot fa-solid fa-circle"></i>
                                            </div>
                                            <%}else if( order.Status=='Delivered' ){%>
                                                <div style="border-color: #0d6efd;"
                                                    class="profileSec2ShoppingsStatusBar col-10">
                                                    <h6 style="color: black ;    padding-top: 38px;"
                                                        class="text-center m-0">Ordered</h6>
                                                </div>
                                                <div style="border-color: #0d6efd;"
                                                    class="profileSec2ShoppingsStatusBar col-10">
                                                    <h6 style="color: black ;    padding-top: 38px;"
                                                        class="text-center m-0">Shipped</h6>
                                                </div>
                                                <div style="border-color:  #0d6efd;"
                                                    class="profileSec2ShoppingsStatusBar col-10">
                                                    <h6 style="color: black ;    padding-top: 38px;"
                                                        class="text-center m-0 ">Delivered</h6>
                                                    <i style="color: #0d6efd;" class="profileSec2ShoppingsStatusDot fa-solid fa-circle"></i>
                                                </div>
                                                <%} %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <!-- Swal Alert -->
        <script src="/js/swalAlert.js"></script>

        <!-- profile -->
        <script src="/js/profile.js"></script>

        <!-- footer -->
        <%- include('../includes/end.ejs') %>