<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

    <!-- infoBar -->
    <%- include('../includes/infoHeader.ejs') %>

    <!-- header -->
    <%- include('../includes/head.ejs') %>

        <!-- checked box -->
        <section class="signupSec1">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <span id="Category" style="visibility:hidden ;"><%= Category %></span>
                    <div class="d-flex col-6">
                        <ul class="mt-2 p-0">
                            <li id="All" onclick="filterProducts('All')" class="btn btn-outline-success mt-2">All</li>
                            <% for(category of categories){%>
                                <li id="<%= category.Name %>" onclick="filterProducts('<%= category.Name %>')"
                                    class="btn btn-outline-success mt-2"><%= category.Name %></li>
                                <% } %>
                        </ul>
                    </div>
                    <div class="col-6">
                        <!-- <form class="d-flex pt-3 pb-3">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- section-1 -->
        <section class="signupSec1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="signupSec1Text d-flex justify-content-center">Shoppings</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- section-2 -->
        <section class="signupSec1">
            <div class="container">
                <div class="row centerSec2">
                    <% for(product of products){%>
                        <div class="col-8 col-sm-6 col-md-5 col-lg-3 me-2 mt-4">
                            <div class="card border-0 sec3Card" style="background-color:transparent;">
                                <a href="/shoppings/<%= product._id %>">
                                    <img class="ShoppingmainImages" src="./images/shopping/<%= product.Images[0] %>"
                                        class="card-img-top rounded" alt="...">
                                </a>
                                <div class="card-body p-0 ">
                                    <% if( wishlist==null ){%>
                                        <i id="<%= product._id %>Wishlist"
                                            onclick="addToWishlist('<%= product._id %>','<%= userId %>')"
                                            class="sec6LoveLike fa-solid fa-heart"></i>
                                        <%}else{%>
                                            <% for( i=0 ; i < wishlist.Products.length ; i++ ){%>
                                                <% if( wishlist.Products[i].productId==product._id ){%>
                                                    <i id="<%= product._id %>Wishlist"
                                                        onclick="addToWishlist('<%= product._id %>','<%= userId %>')"
                                                        class="sec6LoveUnlike fa-solid fa-heart"></i>
                                                    <% break %>
                                                        <%}else{%>
                                                            <i id="<%= product._id %>Wishlist"
                                                                onclick="addToWishlist('<%= product._id %>','<%= userId %>')"
                                                                class="sec6LoveLike fa-solid fa-heart"></i>
                                                            <%} %>
                                                                <%} %>
                                                                    <%} %>
                                                                        <div class="d-flex mt-3">
                                                                            <a onclick="addToCart('<%= product._id %>','<%= userId %>')"
                                                                                class=" sec3Text5"><i
                                                                                    class="fa-brands fa-opencart"></i></a>
                                                                        </div>
                                                                        <h5 class="mt-3 card-title sec3Text3">
                                                                            <%= product.ShortName %>
                                                                        </h5>
                                                                        <% if( product.Discount> 0 ){%>
                                                                            <p class="shoppingDiscountText mt-3 ">
                                                                                <%= product.Discount %> % OFF
                                                                            </p>
                                                                            <%} %>
                                                                                <p class="mt-3 shopSec2Price rounded-2">
                                                                                    ₹ <%= product.Price %>
                                                                                </p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </section>

        <!-- Add To Cart -->
        <script src="/js/addToCart.js"></script>

        <!-- Add To Wishlist -->
        <script src="/js/addToWishlist.js"></script>

        <!-- filterProducts -->
        <script src="/js/filterShoppings.js"></script>


        <!-- footer -->
        <%- include('../includes/end.ejs') %>