<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

    <!-- header -->
    <%- include('../includes/head.ejs') %>


        <!-- section-1 -->
        <section class="signupSec1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="signupSec1Text d-flex justify-content-center">Details</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- section-2 -->
        <section class="toursSec2">
            <div class="container">
                <div class="row">
                    <div class="col-12 toursDetailsSec2Text d-flex">
                        <i class="ms-3 mt-3 toursDetailsSec2Text1 fa-solid fa-location-dot"></i>
                        <p class="ms-3 mt-3 toursDetailsSec2Text2"><%= tour.Place %>,<%= tour.Country %></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- section-3 -->
        <section class="toursDetailsSec3 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex mb-3">
                        <p class="toursDetailsSec3Price">₹ <%= tour.Price %></p>
                        <div class="d-flex justify-content-center toursDetailsSec3BookBar">
                            <i class="toursDetailsSec3BookIcon fa-sharp fa-solid fa-compass"></i>
                            <p class="ms-2 toursDetailsSec3BookButton">Booking</p>
                        </div>
                    </div>
                    <div class="col-12 toursDetailsSec3Review ">
                        <p class="m-3 toursDetailsSec3ReviewText"><%= tour.Review %> Reviews</p>
                    </div>

                    <!-- About -->
                    <div class="col-md-8 mt-5">
                        <h3 class="toursDetailsSec3Head">About <%= tour.Name %></h3>
                        <p class="toursDetailsSec3Text mt-4"><%= tour.ShortDescription %><br><br><%= tour.Description %></p>
                    </div>

                    <!-- Features -->
                    <div class="col-md-8 mt-5">
                        <h3 class="toursDetailsSec3Head pb-4">Features</h3>
                        <% for( feature of tour.Features){%>
                        <div class="d-flex">
                            <i class="toursDetailsSec3Icon fa-solid fa-angle-right mt-1"></i>
                            <p class="toursDetailsSec3Text"><%= feature %></p>
                        </div>
                        <%}%>
                    </div>

                    <!-- Itinerary -->
                    <div class="col-md-8 mt-5">
                        <h3 class="toursDetailsSec3Head pb-4">Itinerary</h3>
                        <% for(day of tour.Itinerary){%>
                        <div class="d-flex">
                            <i class="toursDetailsSec3Icon fa-solid fa-clock mt-1"></i>
                            <p class="toursDetailsSec3Text ms-2">Day <%= day.Day %></p>
                        </div>
                        <h3 class=" ms-2"><%= day.Title %></h3>
                        <p class="toursDetailsSec3Paragraph ms-3 pb-3"><%= day.Description %></p>
                            <%}%>
                    </div>

                    <!-- Gallery -->
                    <div class="col-md-8 mt-5">
                        <h3 class="toursDetailsSec3Head pb-4">Gallery</h3>
                        <div id="carouselExampleControls" class="rounded-4 carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/images/destination/<%= tour.Images[1] %>" class="rounded-4 d-block w-100"
                                        alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="/images/destination/<%= tour.Images[2] %>" class="rounded-4 d-block w-100"
                                        alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="/images/destination/<%= tour.Images[3] %>" class="rounded-4 d-block w-100"
                                        alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section-4 -->
        <section class="toursSec4 pb-5">
            <h3 class="toursDetailsSec4Head text-center pb-4">Map</h3>
            <div class="container">
                <div class="row">
                    <div class="col-12 toursSec4Map">
                    </div>
                </div>
            </div>
        </section>

        <!-- footer -->
        <%- include('../includes/end.ejs') %>