<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

    <!-- header -->
    <%- include('../includes/agHead.ejs') %>

        <!-- section --->
        <section class="agToursSec1">
            <div class="container">
                <div class="row">
                    <div class="col-2 ">
                        <div class=" mb-3 agToursSec1LeftButton">
                            <a href="/agency/trekkings" class="d-flex justify-content-center">
                                <i class="text-primary agToursSec1LeftButtonIcon fa-solid fa-user"></i>
                                <p style="color: white;" class="agToursSec1LeftButtonText text-center mt-3">View
                                </p>
                            </a>
                        </div>
                        <div class=" mb-3 agToursSec1LeftButton">
                            <a href="/agency/trekkings/add" class="d-flex justify-content-center">
                                <i class="text-success agToursSec1LeftButtonIcon fa-solid fa-user"></i>
                                <p style="color: white;" class="agToursSec1LeftButtonText text-center mt-3">Add</p>
                            </a>
                        </div>
                        <div class=" mb-3 agToursSec1LeftButton">
                            <a href="/agency/trekkings/delete" class="d-flex justify-content-center">
                                <i class="text-danger agToursSec1LeftButtonIcon fa-solid fa-user"></i>
                                <p style="color: white;" class="agToursSec1LeftButtonText text-center mt-3">Delete
                                </p>
                            </a>
                        </div>
                        <div class=" mb-3 agToursSec1LeftButton">
                            <a href="/agency/trekkings/update" class="d-flex justify-content-center">
                                <i class="agToursSec1LeftButtonIcon fa-solid fa-user"></i>
                                <p style="color: white;" class="agToursSec1LeftButtonText text-center mt-3">Update
                                </p>
                            </a>
                        </div>
                    </div>

                    <!-- section-2 -->
                    <div class="agToursSec1RightBar ms-4 col-9">
                        <h1 class="agToursSec1RightHead text-center mt-3 pb-3">Update Trekking</h1>
                        <form id="form" method="post" action="/agency/trekkings/update/<%= trekking._id %>"
                            enctype="multipart/form-data" class="p-4">

                            <!-- errBar -->
                            <% if (updateErr.length>0){%>
                                <span id="Err"></span>
                                <div class="signupSec2ErrorBar d-flex justify-content-center">
                                    <p id="ErrText" class="text-center signupSec2ErrorText">
                                        <%= updateErr %>
                                    </p>
                                    <i class="signupSec2ErrorMark fa-regular fa-circle-xmark"></i>
                                </div>
                                <%}else{%>
                                    <div id="Err" class="errBar">
                                        <div class="signupSec2ErrorBar d-flex justify-content-center">
                                            <p id="ErrText" class="text-center signupSec2ErrorText"></p>
                                            <i class="signupSec2ErrorMark fa-regular fa-circle-xmark"></i>
                                        </div>
                                    </div>
                                    <%} %>
                                        <div class="d-flex">
                                            <div class="mb-3 pe-2 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">Name</label>
                                                <input id="trekkingName" type="text" class="form-control" name="trekkingName"
                                                    placeholder="Enter Trekking Name" value="<%= trekking.Name %>" required>
                                            </div>
                                            <div class="mb-3 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">Place</label>
                                                <input id="trekkingPlace" type="text" class="form-control" name="trekkingPlace"
                                                    placeholder=" Enter Trekking place" value="<%= trekking.Place %>" required>
                                            </div>
                                        </div>
                                        <div class=" d-flex mt-2">
                                            <div class="mb-3 pe-2 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">Country</label>
                                                <input id="trekkingCountry" type="text" class="form-control"
                                                    name="trekkingCountry" placeholder="Enter Country Name "
                                                    value="<%= trekking.Country %>" required>
                                            </div>
                                            <div class="mb-3 pe-2 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">State</label>
                                                <input id="trekkingState" type="text" class="form-control" name="trekkingState"
                                                    placeholder="Enter State Name" value="<%= trekking.State %>" required>
                                            </div>
                                            <div class="mb-3 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">City</label>
                                                <input id="trekkingCity" type="text" class="form-control" name="trekkingCity"
                                                    placeholder="Enter City Name" value="<%= trekking.City %>" required>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="mb-3 pe-2 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">Longitude</label>
                                                <input id="trekkingLongitude" type="text" class="form-control"
                                                    name="trekkingLongitude" placeholder="Enter Longitude"
                                                    value="<%= trekking.Coordinates.Longitude %>" required>
                                            </div>
                                            <div class="mb-3 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">Latitude</label>
                                                <input id="trekkinglatitude" type="text" class="form-control"
                                                    name="trekkinglatitude" placeholder=" Enter Latitude"
                                                    value="<%= trekking.Coordinates.Latitude %>" required>
                                            </div>
                                        </div>
                                        <div class=" d-flex mt-2">
                                            <div class="mb-3 pe-2 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">Duration</label>
                                                <input id="trekkingDuration" type="number" class="form-control"
                                                    name="trekkingDuration" placeholder="Enter Duration"
                                                    value="<%= trekking.Duration %>" required>
                                            </div>
                                            <div class="mb-3 pe-2 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">Review</label>
                                                <input id="trekkingReview" type="number" class="form-control"
                                                    name="trekkingReview" placeholder="Enter Review Rate"
                                                    value="<%= trekking.Review %>" required>
                                            </div>
                                            <div class="mb-3 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">Difficulty</label>
                                                <select class="form-control" id="trekkingDifficulty" name="trekkingDifficulty">
                                                    <option>Easy</option>
                                                    <option>Medium</option>
                                                    <option>Hard</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="mb-3 pe-2 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">Price</label>
                                                <input id="trekkingPrice" type="number" class="form-control"
                                                    name="trekkingPrice" placeholder="Enter Price" value="<%= trekking.Price %>"
                                                    required>
                                            </div>
                                            <div class="mb-3 signupSec2FormBar">
                                                <label class="form-label signupSec2Text">Discount</label>
                                                <input id="trekkingDiscount" type="number" class="form-control"
                                                    name="trekkingDiscount" placeholder="Enter Discount Rate"
                                                    value="<%= trekking.Discount %>" required>
                                            </div>
                                        </div>
                                        <% for (feature of trekking.Features){%>
                                            <div class="d-flex">
                                                <div class="mb-3 pe-2 signupSec2FormBar">
                                                    <label class="form-label signupSec2Text">Feature</label>
                                                    <input id="trekkingFeatures" type="text" class="form-control"
                                                        name="trekkingFeatures" value="<%= feature %>"
                                                        placeholder="Enter Feature" required>
                                                </div>
                                            </div>
                                            <%}%>

                                                <!-- add feature  -->
                                                <div id="formDownFeatures" class="mb-3"></div>
                                                <div class="d-flex justify-content-end signupSec2FormBar">
                                                    <p onclick="addFeatures()" class="btn btn-primary"
                                                        style="width:100px ; margin-top: 30px;">Add</p>
                                                </div>

                                                <div class="d-flex">
                                                    <div class="mb-3 pe-2 signupSec2FormBar">
                                                        <label class="form-label signupSec2Text">Description</label>
                                                        <textarea id="trekkingDescription" type="number"
                                                            class="form-control" name="trekkingDescription"
                                                            required><%= trekking.Description %></textarea>
                                                    </div>
                                                    <div class="mb-3 signupSec2FormBar">
                                                        <label class="form-label signupSec2Text">Short
                                                            description</label>
                                                        <textarea id="trekkingShortDescription" type="number"
                                                            class="form-control" name="trekkingShortDescription"
                                                            required><%= trekking.ShortDescription %></textarea>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="mb-3 pe-2 signupSec2FormBar">
                                                        <label class="form-label signupSec2Text">Choose Images</label>
                                                        <input type="file" class="form-control" name="trekkingImages"
                                                            multiple>
                                                    </div>
                                                </div>

                                                <!-- settup Dynamicpage with javascript -->
                                                <h3 id="formHeading" style="visibility: hidden;"
                                                    class="agToursSec1DynamicHead mb-2 text-center mt-3"></h3>

                                                <div id="formDown" class="mb-3"></div>
                                                <div id="formSubmit" style="visibility:hidden;"
                                                    class="d-flex justify-content-center p-4">
                                                    <button id="formsubmitButton" type="submit"
                                                        class="signupSec2FormButton"></button>
                                                </div>
                        </form>
                        <div id="formButton" class="d-flex justify-content-center p-4">
                            <button id="formButtonText" onclick="itineraryForm()"
                                class="signupSec2FormButton">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Dynamic Itinerary form -->
        <script src="/js/trekkingsDynamicItineraryForm.js"></script>


        <!-- footer -->
        <%- include('../includes/agEnd.ejs') %>