<!-- navigationbar -->
<%- include('../includes/navigation.ejs') %>

    <!-- header -->
    <%- include('../includes/agHead.ejs') %>

        <!-- section --->
        <section class="agToursSec1">
            <div class="container">
                <div class="row">

                    <!-- section-1 -->
                    <div class="col-12">
                        <div class="agUsersec1 col-12">
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <h1 class="agToursSec1RightHead text-center mt-3 pb-3">View Coupons</h1>
                                    <div class="col-3 pt-4 pb-3 d-flex justify-content-end">
                                        <a href="/agency/coupons/add" class="btn btn-success w-100">Add Coupons</a>
                                    </div>

                                    <!-- search button -->
                                    <input class="agToursSec1SearchButton" type="text" id="myInput"
                                        onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-striped "
                                            style="background-color: #ecf9ee;">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Discount</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(i=0 ; i < coupons.length ; i++){%>
                                                    <tr scope="row">
                                                        <td class="pt-3"><%= i+1 %></td>
                                                        <td class="pt-3"><%= coupons[i].Name %></td>
                                                        <td class="pt-3"><%= coupons[i].Discount %> %</td>
                                                        <td><a href="/agency/coupons/delete/<%= coupons[i]._id %>" class="btn btn-danger">Remove</a>
                                                        </td>
                                                    </tr>
                                                    <%} %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Search Field -->
        <script src="/js/agencySearchField.js"></script>

        <!-- Swal Alert -->
        <script src="/js/swalAlert.js"></script>

        <!-- footer -->
        <%- include('../includes/agEnd.ejs') %>